<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Contato</title>
    <link rel="stylesheet" href="..\css\contato.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <main>
       <a class="button-home" href="/"
      ><button class="btn"><i class="fas fa-arrow-left"></i></button
        ></a>

        <%
          const msgErro = {name:'',email:'',telephone:'',message:''}
          const cssErro = {name:'',email:'',telephone:'',message:''}
         
        if (typeof listaErros !== 'undefined' && listaErros && listaErros.errors) {
          listaErros.errors.forEach(erro => {
            if (erro.path === 'name') {
              msgErro.name = erro.msg
              cssErro.name = 'erro-form'

            } else if (erro.path === 'email') {
              msgErro.email = erro.msg
              cssErro.email = 'erro-form'
              
            } else if (erro.path === 'telephone') {
              msgErro.telephone = erro.msg
              cssErro.telephone = 'erro-form'

            } else if (erro.path === 'message') {
              msgErro.message = erro.msg
              cssErro.message = 'erro-form'
            }
          })
        }

        %>

      <section class="form-container">
        <form action="/msg" method="post">
          <p class="content-not"><b>Envie uma mensagem!</b></p>
          <label for="name">Nome:</label>
          <input
            placeholder="Digite seu nome"
            type="text"
            id="name"
            name="name"
            class="<%= cssErro.name %>"
          />
          <span><%= msgErro.name %></span>
          <label for="email">Email:</label>
          <input
            placeholder="Digite seu e-mail"
            type="text"
            id="email"
            name="email"
            class="<%= cssErro.email %>"
          />
          <span><%= msgErro.email %></span>
          <label for="telephone">Telefone:</label>
          <input
            placeholder="Digite seu telefone"
            type="number"
            id="telefone"
            name="telephone"
            class="<%= cssErro.telephone %>"
          />
          <span><%= msgErro.telephone %></span>
          <label for="message">Mensagem:</label>
          <textarea
            placeholder="Digite sua Mensagem"
            id="message"
            name="message"
            class="<%= cssErro.message %>"
          ></textarea>
          <span><%= msgErro.message %></span>
          <button class="btn-01" type="submit">Enviar</button>
        </form>
      </section>
    </main>
  </body>
</html>
