<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Login / Cadastro</title>
    <link rel="stylesheet" href="../css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  
  <body>
    <main>
      <a href="/"
      ><button class="btn-01"><i class="fas fa-arrow-left"></i></button
        ></a>
        <section class="container">
          <section class="form-card"> 
            <section class="tabs">
              <button class="tab-button active" id="login-tab">LOGIN</button>
              <button class="tab-button" id="signup-tab">CADASTRE-SE</button>
            </section>
            
            <%
                const msgErro = { loginEmail: "", loginPassword: "" };
                const cssErro = { loginEmail: "", loginPassword: "" };

              if (typeof valores === 'undefined') { valores = {loginEmail:'', loginPassword: ''} } {
                if (typeof listaErros !== 'undefined' && listaErros && listaErros.errors) { 
                    listaErros.errors.forEach((erro) => {
                      if (erro.path === "loginEmail") {
                        msgErro.loginEmail = erro.msg;
                        cssErro.loginEmail = "erro-form";
                      } else if (erro.path === "loginPassword") {
                        msgErro.loginPassword = erro.msg;
                        cssErro.loginPassword = "erro-form";
                      }else if (erro.path ==="signup_name") {
                        msgErro.signup_name = erro.msg;
                        cssErro.signup_name = "erro-form";
                      }else if (erro.path ==="signup_email") {
                        msgErro.signup_email = erro.msg;
                        cssErro.signup_email = "erro-form";
                      }else if (erro.path ==="signup_password") {
                        msgErro.signup_password = erro.msg;
                        cssErro.signup_password = "erro-form";
                      }
                    });
                }
              } 
            %>

          <form
            action="/login"
            method="post"
            id="login-form"
            class="form-section active"
          >
            <section class="input-group">
              <label for="loginEmail">Email</label>
              <input
                type="text"
                name="loginEmail"
                id="loginEmail"
                placeholder="Seu email"
                class="<%= cssErro.loginEmail %>"
                value="<%= valores.loginEmail %>"
              />
              <span><%= msgErro.loginEmail %></span>
            </section>
            <section class="input-group">
              <label for="loginPassword">Senha</label>
              <input
                type="password"
                name="loginPassword"
                id="loginPassword"
                placeholder="Sua senha"
                class="<%= cssErro.loginPassword %>"
                value="<%= valores.loginPassword %>"
              />
              <span><%= msgErro.loginPassword %></span>
              <input type="hidden" name="formLogin" id="formLogin" >
              <br>
              <br>
              <button type="submit" value="login" class="btn">
                ENTRAR
              </button>
            </section>
          </form>

          <form action="/signup" method="post" id="signup-form" class="form-section">
            <section class="input-group">
              <label for="signup_name">Nome Completo</label>
              <input
                type="text"
                name="signup_name"
                value="<%= valores.signup_name %>"
                id="signup-name"
                placeholder="Seu nome completo"
                class="<%= cssErro.signup_name %>"
              />
              <span><%= msgErro.signup_name %></span>
            </section>
            <section class="input-group">
              <label for="signup_email">Email</label>
              <input
                type="text"
                name="signup_email"
                value="<%= valores.signup_email %>"
                id="signup-email"
                placeholder="Seu melhor email"
                class="<%= cssErro.signup_email %>"
              />
              <span><%= msgErro.signup_email %></span>
            </section>
            <section class="input-group">
              <label for="signup_password">Senha</label>
              <input
                type="password"
                name="signup_password"
                value="<%= valores.signup_password %>"
                id="signup-password"
                placeholder="Crie sua senha"
                class="<%= cssErro.signup_password %>"
              />
              <span><%= msgErro.signup_password %></span>
              <input type="hidden" name="formSignup" id="formSignup" >
              <br>
              <br>
              <button type="submit" class="btn-02">CADASTRAR</button>
            </section>
          </form>
        </section>
      </section>
    </main>
    <script src="../JS/login.js"></script>
  </body>
</html>
